#content{
    display: grid;
   grid-template-areas: 
  'cat cat cat cat'
  'cate cate cate cate'
  'cate cate cate cate';
   
    text-align: center;

  background-color: bisque;
 
   
}
#cate{
  grid-area: cate;
  display:inline-block;
}
#cat{
grid-area: cat;
display:inline-block ;
}

.item{

  background-color:white;
  border-radius: 200px;
  border:2px solid black;
  width: 450px;
  height: 400px;
  margin-top: 30px;
}
.item img{
    size-adjust: 100px;

}
.item h1{
    color: blue;
}
.item p{
    color: blueviolet;
}
/* .item2{
    grid-area: item2;
    background-color:white;
    border-radius: 20px;
  } */